---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const currentDate = new Date().setHours(0, 0, 0, 0);
const allEvents = (await getCollection('events')).sort(
	(a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf(),
);
const pastEvents = allEvents.filter(e => e.data.eventDate.valueOf() < currentDate.valueOf());
const futureEvents = allEvents.filter(e => e.data.eventDate.valueOf() >= currentDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.events ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			.events ul li {
				width: calc(50% - 1rem);
			}
			.events ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			.events ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			.events ul li a:hover h4,
			.events ul li a:hover .date {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				.events ul {
					gap: 0.5em;
				}
				.events ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h3>Events</h3>

			<section class="events">
				{
					(futureEvents.length)
					? (
						<p>
							All events are open to the public!
						</p>
						<ul>
							{
								futureEvents.map((e) => (
									<li>
										<a href={`/get-involved/${e.id}/`}>
											<h4 class="title">{e.data.eventType}</h4>
											<p class="date">
												<FormattedDate date={e.data.eventDate} />
											</p>
										</a>
									</li>
								))
							}
						</ul>
					)
					: <p>Looks like there are no events planned... let us know if you have any ideas!</p>
				}
			</section>
			<h3>Membership</h3>

			<p>
				All people are welcome!
				<br>
				Membership is relatively informal; you can be as involved as you'd like. 
				Every member will be kept informed of our general coalition happenings and is encouraged to share ideas, plan events, spread awareness, and advocate.
				<br>
				<br>
				To join or learn more, please email Gordon at <a href="mailto:up-shoreline-public-access@protonmail.com">up-shoreline-public-access@protonmail.com</a>.
				<br>
				It will help if you can provide the following in your email:
				<ul>
					<li>Name</li>
					<li>Do you live in UP?</li>
					<li>Nearest landmark (school, park, etc.)</li>
				</ul>
			</p>

			<h4>Dress Code</h4>

			<p>
				This coalition embodies an anti-consumption mindset, meaning we will not produce any merchandise.
				Generally, we encourage your finest sea attire (whatever that means to you).
				Don't forget sun protection and a life jacket!
			</p>
		</main>
		<Footer />
	</body>
</html>
